// Place font families in here 
@font-face {
    font-family: Cinzel;
    src: url(../../assets/fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(../../assets/fonts/Cinzel-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: NewsCycle;
    src: url(../../assets/fonts/NewsCycle-Regular.ttf);
}

@font-face {
    font-family: NewsCycle;
    src: url(../../assets/fonts/NewsCycle-Bold.ttf);
    font-weight: bold;
}
