/* You can add global styles to this file, and also import other style files */
@import 'normalize.scss';
@import './font-families.scss';

/* Color Theme Swatches in Hex */
$black: #121212;
$white: #f0f0f2;
$grey: #515662;
$dark-grey: #293040;
$blue: #4AB6D4;
$blue-light: #8AE6FF;
$blue-dark: #15B8E5;
$opaque-blue: rgba(145, 214, 234, 0.60);


$input-height: 2em;
$form-group-height: 3.75em;
$media-query-breakpoint-desktop-min: 800px;

html,
body,
#root {
  height: 100%;
  font-family: NewsCycle, sans-serif;
  
}

div,
span,
header,
footer,
main,
nav,
section,
input,
select,
form,
hgroup,
summary,
details,
aside,
article,
ul,
ol,
li,
table,
canvas,
figure,
figcaption,
img {
  box-sizing: border-box;
}

body {
  background: $dark-grey;
  overflow: auto;
  min-height: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    color: $white;
  }
}


/* CongressionalChoice
===========> */

.page-container--standard {
  padding: 2rem 1rem;
  background-color: $black;
  width: 95%;
  margin: 30px auto;
  border-radius: 10px;
}
.congress-choice-container {
  display: block;
  &__option {
    max-width: 500px;
    font-family: Cinzel, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    background-color: $grey;
    color: $blue;
    margin: .25em auto;
    padding-top: .15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover,
    &:active {
      opacity: 0.6;
    }
    &:focus {
      outline: 2px solid $blue;
    }
  }
}

.big-button-link {
  text-decoration: none;
}

.form {
  input,
  select {
    height: $input-height;
  }
}

.bill-search-form {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.333rem;
  .form-input {
    border:none;
    max-width: 300px;
    width: 80%;
    color: $blue;
    background-color: $grey;
    border-radius: 10px 0px 0px 10px;
    text-indent: 30px;
  }
}

.button {
    background: $white;
    box-shadow: 0;
    border-color: 0;
    border-style: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    &.button--inline-submit {
        height: $input-height;
    }

    &.primary {
        background-color: $blue;
        color: $dark-grey;
        font-weight: bold;
        &:disabled {
            background-color: saturate($grey, 10%);
        }
      
    }
}

/* Navigation
===========> */
nav {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $black;
  .logo{
    font-size: 2.37rem;
    margin-top: 0;
    .logo-link {
      text-decoration: none;
      color: $blue-dark;
    }
  }
  .nav-list {
    margin: 0 0 1.33rem;
    padding: 0;
    list-style-type: none;
    font-size: 1.333rem;
    .nav-list-item {
      display: inline-block;
      .nav-link {
      text-decoration: none;
      color: $white;
      }
    }
    .nav-list-item +.nav-list-item {
      margin-left: 3.16rem;
      }
    
  }
}





/* Call To Action
===========> */
.call-to-action {
  background-color: $black;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  .call-to-action-title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.37rem;
    color: $blue;
    font-weight: bold;
  }
}





/* Media
===========> */


@media(min-width: $media-query-breakpoint-desktop-min) {
  .congress-choice-container {
    display: flex;
    justify-content: center;
    &__option {
      padding: 2em .2em;
      width: 300px;
      margin: 0 .5em;
    }
  }
}